#container{
    /* background-color: antiquewhite; */
    opacity: .95;
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.login-entry{
    /* height: 100%; */
    /* width: 100%; */

    text-align: center;
    padding: 10%;
}

.login-entry h1{
    color: #000;
}

.login-entry button{
    margin: 10px;
}

.signupPhase{
    text-align: center;
    color: rgb(23, 2, 2);
    font-size: 24px;
    /* width: 100%; */
}

.signupPhase a{
    color: rgb(23, 2, 2);
    font-weight: bolder;

}