/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url("assets/Images/background1.jpg");
    /* background-position: center; */
    background-color: rgb(244, 225, 247);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    background-attachment: fixed;
}

#content-card{
    margin: 10%;
    margin-top: 7%;
    height: max-content;
    opacity: .95;
}

#card-header{
    text-align: center;
    font-family: fangsong;
    font-weight: bolder;
    font-size: xx-large;
    color: #1a0129;
}

#card-title{

}

#top-button{
    width: 6%;
}