/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~angular-notifier/styles";

body{
    background-image: url("assets/Images/background1.jpg");
    /* background-position: center; */
    background-color: rgb(244, 225, 247);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    background-attachment: fixed;
}

html, body {
    margin:0px;
    height:100%;
    width: 100%;
  }

/* login */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial
}

/* body {
    background: red 
} */

h1 {
    color: #ccc;
    text-align: center;
    font-family: 'Vibur', cursive;
    font-size: 50px
}

.login-form {
    width: 400px;
    padding: 40px 30px;
    background: #eee;
    margin: auto;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%
}

input{
    font-size: 40px;
}

.form-group {
    position: relative;
    margin-bottom: 15px
}

.form-control {
    color: #1a0129 !important;
    font-weight: 300 !important;
    font-size: 1.5rem !important;
    width: 100%;
    height: 50px;
    border: none;
    padding: 5px 7px 5px 15px;
    background: #fff;
    border: 2px solid #ddd
}

.form-group .mdi {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #999
}

.mdi {
    top: 13px !important;
    color: #0AC986 !important
}

.form-control:focus {
    color: #3b0f54 !important;
    background-color: #fff;
    border-color: #fff !important;
    outline: none;
    box-shadow: none
}

.log-status.wrong-entry .form-control,
.wrong-entry .form-control+.mdi {
    border-color: #ed1c24;
    color: #ed1c24
}

.log-btn {
    background: #0AC986;
    /* dispaly: inline-block; */
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none
}

.link {
    text-decoration: none;
    color: #C6C6C6;
    float: right;
    font-size: 12px;
    margin-bottom: 15px
}

.alert {
    display: none;
    font-size: 12px;
    color: #f00;
    float: left
}

a {
    text-decoration: none !important
}

/* login end */

#content-card{
    margin: 10%;
    margin-top: 7%;
    height: max-content;
    opacity: .95;
}

#card-header{
    text-align: center;
    font-family: fangsong;
    font-weight: bolder;
    font-size: xx-large;
    color: #1a0129;
}

#top-button{
    width: 6%;
}

.textfield-label{
    color: aliceblue;
    font-weight: 300;
    font-size: x-large;
  }

  .container{
    margin: 10px;
  }

  .add-button{
    float: right;
    color: azure;
    background: darkblue;
    padding: 5px;
    border-radius: 5px;
}

.add-button:hover {
    background-color: azure; 
    color: darkblue;
  }