<!--Main Navigation-->
<header style="background-color: #F8F9FA;">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a class="logo"
                    [routerLink]="['/dashboard']">
                    <img src="../../assets/Images/logo.png" weight="100"
                        height="100" alt="">
                    <br>
                    <span>Main dashboard</span>
                </a>
               
                <a class="list-group-item list-group-item-action py-2 ripple"
                    [routerLink]="['/dashboard/all-students']"
                    [routerLinkActive]="['active']">
                    <i class="fas fa-lock fa-fw me-3"></i><span>Student
                        Details</span>
                </a>
                <a class="list-group-item list-group-item-action py-2 ripple"
                    [routerLink]="['/dashboard/students-marks']"
                    [routerLinkActive]="['active']">
                    <i class="fas fa-lock fa-fw me-3"></i><span>Student Marks</span>
                </a>
                
                <!-- <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-globe fa-fw me-3"></i><span>International</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2
                    ripple"><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a> -->
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->

    <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->